
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #F3F5FC;
    padding: 40px;
}

header {
    padding-bottom: 80px;
}

header img {
    width: 120px;
    height: 48px;
}

.display {
    display: flex;
    gap: 80px;
}

.display__processing-area {
    padding-left: 200px;
}

.display__processing-area__textarea {
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #0A3871;
    background: none;
    width: 680px;
    height: 400px;
}

.display__processing-area__warning {
    display: flex;
    height: 18px;
    gap: 8px;
    opacity: 80%;
    padding-bottom: 16px;
}

.display__processing-area__warning p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #495057;
}

.display__processing-area__action {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 24px
}

.display__processing-area__action__button {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

#button1 {
    border: none;
    background-color: #0A3871;
    color: #ffffff;
}

#button2 {
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.display__result-area {
    background: #FFFFFF;
}

footer {
    text-align: center;
}